/* Universal selectors */
:root{
    --darkGrey: #31343d;
    --Cyan: #92ccce;
    --spacing: 12px;
    --padding: 5px;
}
header {
    background-color: var(--Cyan);
    color: var(--darkGrey);
    font-size: 180%;
    padding: 8px;
}
nav{
    color: var(--Cyan);
    background-color: var(--darkGrey);
    padding: var(--spacing);
}
nav li {
    display: inline-block;
}
nav a {
    font-size: 90%;
    text-decoration: none;
    color: var(--Cyan);
    border-bottom: var(--Cyan) solid;
    padding: 3px 7px;
}
/* ^^Everything above are styling element selectors for the header and nav  */
figure {
    height: 200px;
    margin-bottom: 20px;
    background-image: url("./02-Homework/Assets/Pokemon.png");
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-end;
}
figure h2 {
    font-size: 150%;
    position: absolute;
    background-color: var(--Cyan);
    color: var(--darkGrey);
    padding: var(--padding);
    margin-bottom: 5px;
}
/* Styling for the background image ^^ */
p {
    margin-top: var(--spacing);
    color: var(--darkGrey);
    font-size: 90%;
}
/* This is used only in the "about me" section ^^ */
h3 {
    color: var(--darkGrey);
    border-bottom: var(--darkGrey) solid;
    padding-bottom: 5px;
    font-size: 150%;
}
h4{
    padding-top: 2px;
    color: var(--darkGrey);
}
h5 {
    font-size: 50%;
    padding: 5px 5px 0px 0px;
    color: var(--darkGrey);
}
/* The heading tags are scattered through out the webpage and are styled accordingly */
footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
footer li {
    padding-top: 7px;
}
footer a{
    font-size: 80%;
    color: var(--darkGrey);
    text-decoration: none;
    border-bottom: 2px solid var(--darkGrey);
    padding-bottom: 2px;
}
/* The footers styling elements ^^ */
.flexMiddle {
    display: flex;
    justify-content: center;
}
/* For mobile view, some sections needed to be centered */
.columnAndRow{
    padding: 0 16px 16px 16px;
}
/* Everything within "main" has a column tag and this helps with spacing issues */
.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}
/* secondary container for the work section */
.portfolio-items{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: var(--padding);
    height: 130px;
}

.portfolio-items img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    border: 3px solid var(--Cyan);
    position: relative;
    opacity: .4;
}
.portfolio-items img:hover {
    opacity: 1;
}
/* The items and imgs styling classes in the work section. We also have a hovering effect */
.portfolio-text{
    position: absolute;
    background-color: var(--Cyan);
    margin-top: 60px;
    padding: 5px;
}
/* This is the small textbox that is within the portfolio items */

@media screen and (min-width:850px) {
    .flexBetween {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        background-color: var(--darkGrey);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h1 {
        padding-left: 30px;
    }
/* These elements and classes are for the header and nav. It is not used until you see the web version */
    figure{
        background-size: 30%;
    }
    figure h2 {
        margin-left: 1500px;
        margin-bottom: var(--spacing);
    }
/* Had to update the background image sizing for web view and move the figure to the right side from */
    .columnAndRow{
        display: flex;
    }
    .rowLineUp{
        padding-left: 20px;
    }
    h3 {
        font-size: 300%;
        border-right: solid var(--darkGrey);
        color: var(--darkGrey);
        text-align: right;
        /* width: 100px; */
        border-bottom: 0;
        margin-left: 50px;
        padding-right: 10px;
    }
    
    /* To get the border looking like the mockup */

    .portfolio-grid{
        display: flex;
        flex-wrap: wrap;
        /* padding-left: 20px; */
    }
    
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 50%;
        margin-bottom: 10px;
    }
    .portfolio-items:first-child{
        flex-basis: 100%;
        /* height: 100; */
    }

    /* In the work section, these classes had to be updated for web view */
    footer ul {
        display: flex;
        justify-content: space-evenly;
    }

    /* Displaying the footer for web view */





}