:root{
    --dark: darkblue;
    --light: red;
    --padding: 10px;
}

header {
    background-color: var(--dark);
    color: var(--light);
    font-size: 180%;
    padding: var(--padding);
}
nav{
    color: var(--dark);
    background-color: var(--light);
    padding: var(--padding);
}
nav a {
    font-size: 100%;
    text-decoration: none;
    color: var(--dark);
    border-bottom: 2px var(--dark) dashed;
    padding: 1px var(--padding);
}

figure {
    height: 130px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./Pokemon.png");
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-end;
}

figure h2 {
    position: absolute;
    background-color: var(--dark);
    color: var(--light);
    padding: 5px;
    margin-bottom: 2px;

}

.flexMiddle {
    display: flex;
    justify-content: center;
}

.row {
    
}
