:root{
    --darkGrey: #31343d;
    --Cyan: #92ccce;
    --spacing: 14px;
}

header {
    background-color: var(--Cyan);
    color: var(--darkGrey);
    font-size: 180%;
    padding: var(--spacing);
}

nav{
    color: var(--Cyan);
    background-color: var(--darkGrey);
    padding: var(--spacing);
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 90%;
    text-decoration: none;
    color: var(--Cyan);
    border-bottom: var(--Cyan) solid;
    padding: 3px 7px;
}

figure {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("./02-Homework/Assets/Pokemon.png");
    background-size: cover;
    background-position: center;
    /* position: relative; */
    align-items: flex-end;
}

figure h2 {
    font-size: 150%;
    /* position: absolute; */
    background-color: var(--Cyan);
    color: var(--darkGrey);
    padding: 5px;
    margin-bottom: 5px;
}

h3 {
    color: var(--darkGrey);
    border-bottom: var(--darkGrey) solid;
    width: 100%;
    padding-bottom: 5px;
    font-size: 130%;
}
p {
    margin-top: var(--spacing);
    color: var(--darkGrey);
    font-size: 85%;
}
footer ul {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
footer li {
    padding-top: 7px;
    
}
footer a{
    font-size: 80%;
    color: var(--darkGrey);
    text-decoration: none;
    border-bottom: 2px solid var(--darkGrey);
    padding-bottom: 2px;

}





.flexMiddle {
    display: flex;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
}
