/* Universal selectors */
:root{
    --darkGrey: #31343d;
    --Cyan: #92ccce;
    --sectionGrey: #445877;
    --spacing: 12px;
    --padding: 5px;
}
header {
    background-color: var(--Cyan);
    color: var(--darkGrey);
    font-size: 180%;
    padding: 8px;
}
nav{
    color: var(--Cyan);
    background-color: var(--darkGrey);
    padding: var(--spacing);
}
nav li {
    display: inline-block;
}
nav a {
    font-size: 90%;
    text-decoration: none;
    color: var(--Cyan);
    border-bottom: var(--Cyan) solid;
    padding: 3px 7px;
}
/* ^^Everything above are styling element selectors for the header and nav  */
figure {
    height: 200px;
    margin-bottom: 20px;
    background-image: url("../images/Pokemon.png");
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-end;
}
figure h2 {
    font-size: 150%;
    position: absolute;
    background-color: var(--Cyan);
    color: var(--darkGrey);
    padding: var(--padding);
    margin-bottom: 5px;
}
/* Styling for the background image ^^ */
p {
    margin-top: var(--spacing);
    color: var(--sectionGrey);
    font-size: 90%;
}
/* This is used only in the "about me" section ^^ */
h3 {
    color: var(--sectionGrey);
    border-bottom: var(--sectionGrey) solid;
    padding-bottom: 5px;
    font-size: 150%;
}
h4{
    padding-top: 2px;
    color: var(--darkGrey);
}
h5 {
    font-size: 50%;
    padding: 5px 5px 0px 0px;
    color: var(--darkGrey);
}
/* The heading tags are scattered through out the webpage and are styled accordingly */
.column-row ul {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.column-row li {
    padding-top: 7px;
}
.column-row ul li a{
    font-size: 80%;
    color: var(--sectionGrey);
    text-decoration: none;
    border-bottom: 3px solid var(--sectionGrey);
    padding: 0 2px 2px 2px;
}
/* The "contact me" styling elements ^^ */
.flexMiddle {
    display: flex;
    justify-content: center;
}
/* For mobile view, some sections needed to be centered */
.column-row{
    padding: 0 16px 16px 16px;
}
/* Everything within "main" has a column tag and this helps with spacing issues */
.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}
/* Container for the work section */
.portfolio-items{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    margin: 0 auto 10px auto;
    height: 106px;
    border: 3px solid var(--Cyan);
    position: relative;
}
.portfolio-items img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    opacity: .4;
    transition: opacity .5s;
}
.portfolio-items img:hover {
    opacity: 1;
}
/* The items and imgs styling classes in the work section. We also have a hovering effect */
.portfolio-text{
    position: absolute;
    background-color: var(--Cyan);
    margin-top: 45px;
    padding: 5px;
}
/* This is the small textbox that is within the portfolio items */


/* WEB VIEW */
@media screen and (min-width:850px) {
    .flexBetween {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        background-color: var(--darkGrey);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h1 {
        padding-left: 30px;
    }
/* These elements and classes are for the header and nav. It is not used until you see the web version */
    figure{
        background-size: 30%;
    }
    figure h2 {
        margin-bottom: var(--spacing);
        margin-right: 30px;
    }
    .flexMiddle{
        display: flex;
        justify-content: flex-end;
    }
/* Had to update the background image sizing for web view and move the figure to the right side */
    .column-row{
        display: flex;
        margin-left: 100px;
        margin-right: 50px;
    }
    .rowLineUp{
        padding-left: 30px;
        width: 90%;
    }
    h3 {
        font-size: 1.8rem;
        border-right: solid var(--sectionGrey);
        color: var(--sectionGrey);
        border-bottom: 0;
        padding-right: 10px;
        text-align: right;
        width: 120px;
    }
    /* Columns and h3 tags are lined up and neat */
    .portfolio-items{
        flex: 0 0 49.25%;
    }
    .portfolio-items:first-child {
        flex-basis: 99.3%;
        height: 400px;
    }
    .portfolio-items:first-child img{
        height: 394px;
    }
    #project1{
        margin-top: 338px;
    }
    /* In the "work" section, these classes and an ID had to be updated for web view */
    .column-row ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .column-row ul li a{
        font-size: 100%;
        padding: 0 8px 2px 8px;
    }
    /* "Contact me" has been reajusted to fit web view */
}